.announcements {
  list-style-type: none;
}

.announcement-list-item {
  @include padding($base-spacing null);
  border-bottom: $base-border;

  .announcement-metadata {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }

  .announcement-title {
    font-weight: 400;
  }

  .interest, .announced-at {
    color: #5a5a5a;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }

  .interest {
    margin-right: 3px;
    border-bottom: 1px solid #ccc;

    &:hover {
      color: $red;
      border-color: $red;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.commenters {
  margin-top: $tiny-spacing;
}
